:root {
  --link-color: midnightblue;
  --link-visited: indigo;
}

* {box-sizing: border-box;
}

html {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.325rem;
  background-color: #E8DCC0;
  margin: 0.125rem;
  padding: 0.125rem;
}

body {
  line-height: 1.325;
  margin-bottom: 3rem;
  padding-bottom: 4.5rem;
}

h1 {
  font-size: 3.3rem;
  text-align: center;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  font-weight: 500;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited);
}

footer {
  position:fixed;
  bottom:0;
  left:0;
  width:100%;
  text-align:center;
  margin: 0;
  padding: 0;
  background-color:#00372a;
  color:#e8dcc0;
}

footer p {
  margin: 0.25rem;
  padding: 0.25rem;
  font-size: 1.5rem;
}

footer a {
  color: silver;
}

footer a:visited {
  color: thistle;
}